<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/yopreparado_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yopreparado_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoPreparado"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="m">
        <activity
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:name=".VideoPlayerMain" />
        <activity
            android:name=".VideoPlayer"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity
            android:name=".ProfileActitivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <service
            android:name=".services.firebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icn_notification" />
    </application>

</manifest>
